/* 
.kumbh-sans-<uniquifier> {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 75%, 39%);
    background-size: 40%;
    background-image:  url(./images/bg-pattern-top.svg) ,url(./images/bg-pattern-bottom.svg);
    background-position: -40rem -53rem, 40rem 265px;
    background-repeat: no-repeat, no-repeat;
    background-size:  cover ;

}

main{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.bkg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.vic{
    height: 30%;
    width: 30%;
    border-radius: 50%;
    border: 5px, solid white;
    position: relative;
    bottom: 3.3rem;
    margin-bottom: -3.3rem;
}

.vic-p{
    display: flex;
    gap: 5px;
}

.name{
    margin: 0;
    display: flex;
    gap: 10%;
    text-align: center;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.age{
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.lon{
    color: hsl(227, 10%, 46%);
    font-size: small;
    margin-top: 2%;
}

hr{
    width: 100%;
    color: hsl(227, 10%, 46%);
    opacity: 0.3;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
    padding: 7%;
}

.span1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.span2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.span3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}


.first{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.second{
    font-size: x-small;
    color: hsl(227, 10%, 46%);
}